################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PresOrm/obj
/PresOrm.Data/obj
/~$PresOrm.pptx
/PresOrm/bin/Debug/net8.0
/PresOrm.Data/bin/Debug/net8.0
