################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PresOrm/obj
/PresOrm.Data/obj
/~$PresOrm.pptx
